<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Sign Up</title>
</head>
<body>
    <form method = 'post' th:action="@{/user}">
        <div>
            <label>
                Username:
                <input th:field ="${user.username}" th:value="${username}">
            </label>
            <p class="error" th:errors="${user.username}"></p>
        </div>
        <div>
            <label>
                Email:
                <input th:field ="${user.email}"  th:value="${email}">
            </label>
            <p class="error" th:errors="${user.email}"></p>
        </div>
        <div>
            <label>
                Password:
                <input th:field ="${user.password}" >
            </label>
            <p class="error" th:errors="${user.password}"></p>
        </div>
        <div>
            <label>
                Verify Password:
                <input type = 'password' name = 'verifyPassword'>
            </label>
            <p class="error" th:errors="${user.verifyPassword}"></p>
        </div>


        <input type = 'submit' value = 'Sign Up'>
    </form>

</body>
</html>